@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 

  html {
    font-family: 'Cormorant', 'sans-serif';
  }

  body {

    background-color: #fdfeff;
    overflow-x: hidden;
  }

}

@layer components {
  
}